body{
	background-color: #c3c3c3;
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

h2{
	font-family: 'Montserrat', sans-serif;
}

p{

	}

.poema{
	line-height: 15px;
}

