body{
	font-family: "Open sans", sans-serif;
}

body img{
	width: 100%;
}

.recorte{
	position: absolute;
	width: 100%;
}

h1{
float: right;
font-family: "Open sans", sans-serif;
padding: 40px;
font-size: 22px; 
}

.contenedor texto lado{
	width: 200px;
	height: 500px;
	float: right;
	background-color: white;
	position: absolute;
	display: inline-block;
	
}


.fondo transparencia{
	opacity: 0.8;
	position: absolute;
}

.recorte{
    opacity:0.9; 

}

body{
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
	position: 50px;
}

h2{
	font-family: 'Montserrat', sans-serif;
}



.poema{
	line-height: 15px;
	margin: 80px;
	position: absolute;
	float: right;
}

.contenido {
	position: absolute;
	margin: 30px;
}

.fondo{
	
}