body{
	font-family: "Open sans", sans-serif;
}

body img{
	width: 100%;
}

.recorte{
	position: absolute;
	width: 100%;
}


.contenedor texto lado{
	width: 200px;
	height: 500px;
	float: right;
	background-color: white;
	position: absolute;
	display: inline-block;
	
}


.fondo transparencia{
	opacity: 0.2;
	position: absolute;
}

.recorte{

 

}

body{
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	letter-spacing: -1px;
	position: relative;
	margin-bottom: 60px;

	
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	letter-spacing:1px;
	margin-bottom: 20px;
}

h3{	
    font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	
}



.contenido {
	position: absolute;

	
}

.imagen inicial{
  position: relative;
  z-index: -1;
  
  
}

.recorte2{

}





p.poema{
	font-size: 18px;
	white-space: pre;
	line-height: 30px;
	margin-bottom:40px;
	
}

p.virgilio{
    font-size: 16px;
	line-height: 25px;
}

cite{
	font-size: 17px;
	font-style: italic;
	color: #8a8781;
	line-height: 26px;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 40px;
	text-align: center;
}

.fuente{
    font-style: italic;
	font-size:14px;
	font-weight: 200;
	color:#63615d;
	float: right;
}

.composición1{
	background-image: url(img/eucaliptus3.png);
}
