img{
	width: 100%;
}


.w70{
	width: 70%;
	height: auto;
}

body{
	font-family: 'Merriweather', serif;
}


h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	letter-spacing: -1px;
	position: relative;
	margin-bottom: 60px;
	
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	letter-spacing:1px;
	margin-bottom: 20px;
	text-align: center;
}

h3{	
    font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	margin-top: 30px;
	
}


p.poema{
	font-size: 16px;
	white-space: pre;
	line-height: 30px;
	margin-bottom:40px;
	
}

p.virgilio{
    font-size: 14px;
	line-height: 25px;
	
}

cite{
	font-size: 16px;
	font-style: italic;
	color: #8c7b69;
	line-height: 26px;
	letter-spacing:0.5px;
	text-align: center;

}


.fuente{
    font-style: italic;
	font-size:13px;
	font-weight: 200;
	color:#63615d;
	float: right;
	text-align: right;
}



.arriba1{
margin-top: -60%;
padding: 0;
}

.arriba2{
margin-top: -80%;
padding: 0;
}

.arriba3{
margin-top: -65%;
padding: 0;

}

.arriba4{
margin-top: -50%;
padding: 0;

}

.arriba5{
margin-top: -40%;
padding: 0;

}


.arriba6{
margin-top: -30%;
padding: 0;

}


.arriba7{
margin-top: -84%;
padding: 0;

}

.arriba8{
margin-top: -15%;
padding: 0;

}

.transparencia{
	opacity: 0.9;
}

.transparencia{
	opacity: 0.75;
}

.invertida{
	    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


hr.espacio{
	color: white;
	height: 10%;
	border: white;
}


.container{

	position: relative;
	
}


.texto{
	position: absolute;
	z-index: 100;
	background-color: rgba(255,255,255,0.8);
	padding:3%;
	margin-top:5%;
	margin-bottom: 5%;
	
}


.textomasblanco{
	position: absolute;
	z-index: 100;
	background-color: rgba(255,255,255,0.92);
	padding:3%;
	margin-top:5%;
	margin-bottom: 5%;
	
}

.mapa{
    z-index: -1;
    position: relative;
}

.punto{
	display: block;
	position: absolute;
	top: 100px;
	right: 120px;
	width: 20px;
	height: 20px;
	background-color: #fc7804;
	border-radius: 50%;
	box-shadow: 0 0 3px 1 rgba(0, 0, 0, .2);
}

br{
	margin-bottom: 5%;
}

.container{
	padding-left: 0;
	padding-right: 0;
	padding-top: 10%;
}

.btn-primary{
    margin:20px;
	background-color: black;
	border: none;
}

.btn-primary:hover{
    margin:20px;
	background-color: rgba(0,0,0,0.5);
	border: none;
}

.btn-primary:visited{
    margin:20px;
	background-color: black;
	border: none;
}